Philadelphia Software Leadership Book Club is dedicated to providing a harassment-free community for everyone, regardless of sex, gender identity or expression, sexual orientation, disability, physical appearance, age, body size, race, nationality, or religious beliefs. We do not tolerate harassment of community members in any form. Participants violating these rules may be sanctioned or expelled from the community at the discretion of the PSLBC organizers. These rules apply to our monthly in-person meetups, any interactions on meetup.com, our Slack channel, or other PSLBC-related communications.

Harassment includes offensive verbal or written comments related to sex, gender identity or expression, sexual orientation, disability, physical appearance, age, body size, race, nationality, or religious beliefs, deliberate intimidation, threats, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Sexual language and imagery is not appropriate for any PSLBC event or communication channel. Community members asked to stop any harassing behavior are expected to comply immediately.

If a community member engages in harassing behavior, the PSLBC organizers may take any action they deem appropriate, including warning the offender, expulsion from the PSLBC community, and/or expelling the offender from the venue we’re presenting in. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact an PSLBC organizer immediately, or as soon as you feel comfortable doing so.

Finally, because this is a book club, we are going to be reading and discussing books that address many issues. We expect our members to be open, honest, curious, respectful, and tolerant of others’ points of view. However, recognizing the paradox of tolerance, we will not tolerate intolerance in any form in any meeting or communication channel. This will be considered a form of harassment, and will be addressed as described above.

The Philadelphia Software Leadership Book Club organizers are:

Christopher Litsinger & Hector Castro: [abuse@pslb.club](abuse@pslb.club)

If you have questions or feedback about this Code of Conduct please contact one of the organizers.

This Code of Conduct, like its inspirations from the Ask a Dev & Portland Python User Group, is licensed under the Creative Commons Zero license.
